.container{
    background-color: #f1f1f1;
    width: 300px;
    height: 200px;
    margin-bottom: 25px;
    padding: 10;
    border: 15;

}
.card-title{
    font-weight: 'bold';
    font-size: 16px;

}
.card-text{
    text-align: center;

}
.card-img{
    width: 70px;
    height: 70px;

}
.card-link{
    color: #00f;
    text-decoration: none;

}